/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F3E6D8;
}


.container{
    width: 80%;
    height: 80vh;
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1b16d;
    padding: 1rem;
}

.form-image img{
    width: 35rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0c9b6;
}

.form-header{
    margin-left: 1.1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button{
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #f59c3d;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}
.login-button button:hover{
    border: none;
    background-color: #f5a958;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 2rem;
    height: 0.3rem;
    background-color: #f59c3d;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box select{
    margin: 0.6rem 0;
    padding: 0.8rem 2.1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover,
.input-box select:hover{
   background-color: #eeeeee75;
}

.input-box input:focus-visible,
.input-box select:focus-visible{

  outline: 1px solid #f0c9b6;
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.usertipe-title h6{
    margin-left: 1.1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.usertipe-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0.5rem;
}

.usertipe-input{
    display: flex;
    align-items: center;
}

.usertipe-input input{
    margin-right: 0.80rem;
}

.usertipe-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    margin-left: 2%;
    width: 96%;
    margin-top: 2.5rem;
    border: none;
    background-color: #f59c3d;
    padding: 0.60rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #f5a958;

}

.continue-button button a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
}

.usertipe-title h6::after{
    content: '';
    display: block;
    width: 2rem;
    height: 0.3rem;
    background-color: #f59c3d;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.recuperar{
    display: flex;
    padding: 0.5rem;

}

 .recuperar a{
    font-size: 0.85rem;
    text-decoration: none;
    color: #ac8d6c;
 }